#board {
    width: initial;
    border-collapse: separate;
    border-spacing: 1px;
}
#board .square {
    padding: 0;
    height: 24px;
    width: 24px;
    font-size: 80%;
    position: relative;
    background-color: #CDC6A9;
    border: none;
}
#board .square::before {
    font-family: 'interstate-bold', Arial, sans-serif;
    font-weight: bold;
    font-size: 30%;
    float: left;
    text-align: center;
    word-spacing: 100vw;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
}
#board .square.DW {
    background-color: #F9BEAE;
}
#board .square.DW::before {
    content: "double word score";
}
#board .square.TW {
    background-color: #FC6353;
}
#board .square.TW::before {
    content: "triple word score";
}
#board .square.DL {
    background-color: #C0D6D3;
}
#board .square.DL::before {
    content: "double letter score";
}
#board .square.TL {
    background-color: #3F99B4;
}
#board .square.TL::before {
    content: "triple letter score";
}
#board .square.DW.START {
    /*                                                                                                                     t   bl    r    l     br */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24'%3E%3Cpolygon points='12,2 6,22 22,10 2,10 18,22' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}
#board .square.DW.START::before {
    content: none;
}
#board .letter {
    font-family: 'eurostilebold', sans-serif;
    background-color: #FDD68B;
    text-transform: uppercase;
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 2%;
    padding-right: 10%;
    line-height: normal;
    text-align: center;
    position: relative;
    border-radius: 10%;
    box-shadow: 7px 7px 20px 0 #0002, 4px 4px 5px 0 #0001;
    border-style: solid;
    border-width: 0 2px 1px 0;
    border-color: #864004;
}
#board .letter.wildcard::after {
    content: none;
}
#board .letter::after {
    font-size: 40%;
    position: absolute;
    letter-spacing: -1px;
    bottom: 20%;
    left: 75%;
}
#board .fake {
    opacity: 60%;
}
#board .wildcard {
    color: white;
}
#results-form .add {
    display: none;
}
@media (min-width: 992px) {
    #board .square {
        height: 48px;
        width: 48px;
    }
    #board .letter {
        padding-top: 15%;
        font-size: 150%;
        border-width: 0 4px 2px 0;
    }
    #board .letter::after {
        left: 70%;
    }
    #board .square::before {
        font-size: 50%;
    }
    #board .square.DW.START {
        /*                                                                                                                     t   bl    r    l     br */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48'%3E%3Cpolygon points='24,4 12,44 44,20 4,20 36,44' fill='black'/%3E%3C/svg%3E");
    }
}
@font-face {
    font-family: 'eurostilebold';
    src: url('fonts/eurostilebold-webfont.woff2') format('woff2'),
    url('fonts/eurostilebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'interstate-bold';
    src: url('fonts/interstate-bold-webfont.woff2') format('woff2'),
    url('fonts/interstate-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
