#board {
    width: initial;
    border-collapse: separate;
    border-spacing: 1px;
}
#board .square {
    padding: 0;
    height: 24px;
    width: 24px;
    position: relative;
    background-color: #CDC6A9;
    border: none;
}
#board .square::before {
    float: left;
    font-size: 20%;
    text-align: center;
    letter-spacing: 1px;
    word-break: break-word;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
}
#board .square.DW {
    background-color: #F9BEAE;
}
#board .square.DW::before {
    content: "double word score";
}
#board .square.TW {
    background-color: #FC6353;
}
#board .square.TW::before {
    content: "triple word score";
}
#board .square.DL {
    background-color: #C0D6D3;
}
#board .square.DL::before {
    content: "double letter score";
}
#board .square.TL {
    background-color: #3F99B4;
}
#board .square.TL::before {
    content: "triple letter score";
}
#board .square.DW.START {
    /*                                                                                                                     t   bl    r    l     br */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24'%3E%3Cpolygon points='12,2 6,22 22,10 2,10 18,22' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}
#board .square.DW.START::before {
    content: none;
}
#board .letter {
    background-color: ivory;
    text-transform: uppercase;
    width: 80%;
    height: 80%;
    margin: auto;
    line-height: normal;
    text-align: center;
    position: relative;
    border-radius: 10%;
}
#board .fake {
    opacity: 60%;
}
#board .wildcard {
    color: lightgray;
}
#results-form .add {
    display: none;
}
@media (min-width: 992px) {
    #board .square {
        height: 48px;
        width: 48px;
    }
    #board .letter {
        font-size: 200%;
    }
    #board .square::before {
        font-size: 40%;
    }
    #board .square.DW.START {
        /*                                                                                                                     t   bl    r    l     br */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48'%3E%3Cpolygon points='24,4 12,44 44,20 4,20 36,44' fill='black'/%3E%3C/svg%3E");
    }
}
