<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::style}, ~{::section}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Play Scrabble</title>
    <style th:inline="text">
        /*[# th:each="letter : ${letters}"]*/
        .letter[data-letter='[[${letter.key}]]']::after {
            content: "[[${letter.value}]]";
        }
        /*[/]*/
    </style>
</head>
<body>
<section>
    <table id="board" class="table table-sm table-bordered align-middle">
        <tr th:each="row,rowIter: ${squares}">
            <td th:each="square,colIter: ${row}" th:attr="x=${colIter.index},y=${rowIter.index}" th:class="'square '+${square}"></td>
        </tr>
    </table>
    <form id="tray">
        <div class="collapse" id="advancedOptions">
            <div class="mb-3">
                <label for="numberOfPossibilities" class="form-label">Number Of Possibilities</label>
                <input type="number" class="form-control" id="numberOfPossibilities" value="10">
            </div>
            <div class="mb-3">
                <label for="secondsToWait" class="form-label">Seconds To Wait</label>
                <input type="number" class="form-control" id="secondsToWait" value="5">
            </div>
        </div>
        <div class="mb-3">
            <label for="letters" class="form-label">Letters</label>
            <input type="text" class="form-control" id="letters">
        </div>
        <div id="button-group" class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary not-loading">Find Possibilities</button>
            <button class="btn btn-primary loading" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#advancedOptions" role="button" aria-expanded="false" aria-controls="advancedOptions">Advanced Options</a>
        </div>
    </form>
    <form id="results-form" class="mt-3 ">
        <div class="form-group">
            <button type="submit" class="add btn btn-primary">Add</button>
        </div>
        <div class="form-group">
            <div id="results" class="btn-group-vertical mt-3" role="group" aria-label="Results"></div>
        </div>
    </form>
    <div id="error"></div>
</section>
<script th:inline="javascript">
    /*<![CDATA[*/
    let SCRABBLE = {
        board: '',
        boardSize: /*[[${size}]]*/ '',
        wildcardChar: /*[[${wildcard}]]*/ '',
        twoLetterWords: /*[[${twoLetterWords}]]*/ '',
        remaining: /*[[${remaining}]]*/ ''
    };
    /*]]>*/
</script>
</body>
</html>
