<!DOCTYPE html>
<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::style}, ~{::section}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Play Scrabble</title>
    <style></style>
</head>
<body>
<section>
    <table id="board">
        <tr th:each="row,rowIter: ${squares}">
            <td th:each="square,colIter: ${row}" th:attr="x=${colIter.index},y=${rowIter.index}" th:class="'square '+${square}"/>
        </tr>
    </table>

    <form id="tray">
        <input type="number" id="numberOfPossibilities" value="10">
        <input type="number" id="secondsToWait" value="5">
        <input type="text" id="letters">
        <input type="submit" value="Find Possibilities">
    </form>
    <ol id="results">

    </ol>
    <div id="error"></div>
</section>
<script th:inline="javascript">
    /*<![CDATA[*/
    let SCRABBLE = {
        board: '',
        boardSize: /*[[${size}]]*/ '',
        wildcardChar: /*[[${wildcard}]]*/ '',
        twoLetterWords: /*[[${twoLetterWords}]]*/ '',
        remaining: /*[[${remaining}]]*/ ''
    };
    /*]]>*/
</script>
</body>
</html>
