<!DOCTYPE html>
<html th:fragment="layout (title, style, content, script)" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="${title}">Layout Title</title>
    <style th:replace="${style}"></style>
    <link href="css/scrabble.css" rel="stylesheet">
</head>
<body>
<h1>Scrabble</h1>
<div th:replace="${content}">
    <p>Layout content</p>
</div>
<footer>
    Layout footer
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:replace="${script}"></script>
<script src="js/scrabble.js"></script>
</body>
</html>
